@font-face {
    font-family: "Dumbledore";
    src : url("../font/dum1/dum1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Argentum";
    src: url("../font/argentum/ArgentumSans-Light.otf");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "Argentum", sans-serif !important;
    font-size: 13px;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible {
    opacity: 1;
    transform: translate(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-2 {
    transition-delay: .1s;
}

.reveal-3 {
    transition-delay: .2s;
}

.reveal-4 {
    transition-delay: .3s;
}

.mini-toastr {
    bottom: 2em!important;
    left: 40% !important;
    right: inherit !important;
    top: inherit !important;
  }